<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>sample</title>
</head>
<body>
	<table>
		<tr>
			<th>carelevelno</th>
			<th>clName</th>
		</tr>
		<tr th:each="list : ${clList}">
			<td th:text="${list.careLevelNo}"></td>
			<td th:text="${list.clName}"></td>
		</tr>
	</table>
	<select th:field="${clList}">
		<option value=""></option>
		<option th:each="list : ${clList}" th:value="${list.careLevelNo}" th:text="${list.clName}" ></option>
	</select>
</body>
</html>