/*@charset "UTF-8";*/
body{
	margin: 0px;
	padding: 0px;
	min-width: 700px;
}
.header{
	display: flex;
	margin: 10px;
	justify-content: space-between;
}
.header div{
	width:auto;
	padding:10px;
}
.header button{
	width: 100px;
	height: 30px;
	margin-top: 50px;
/*	background-color: aqua;*/
}
.heading{
	border: solid 1px  black;
	border-radius:10px;
	padding-left: 10px;
	padding-right: 10px;
}
label{
	border:solid 1px deepskyblue;
	min-width: 40px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
/*	margin-left: 5px;*/
}
input{
	
	margin-right: 10px;
}
.search-box{
	width: fit-content;
	margin: 10px;
	border: solid 1px orange;
	padding: 10px;
}
.search{
	justify-content: start;
	display: flex;
	padding-bottom: 5px;
}

.search-name input{
	min-width:80px
}

.search-home{
	display: flex;
	justify-content: start;
	padding-bottom: 5px;
}
.search-home *{ 
	min-width: 120px;
	height: 50px;
}
.search-home label{
	line-height: 50px;
	
}
.search-home input{
	min-width: 200px;
	height: 45px;
}
.search-item{
/*	border: solid 1px black;*/
	margin-right: 10px;
}
.search-item input{
	width: 100px;
}
.search-carelevel{
	display: flex;
}
/*.search-charge{*/
/*	margin-top: 10px;*/
/*	margin-bottom: 10px;*/
/*}*/
/*.search-charge input{*/
/*	height: 50px;*/
/*	width:200px;*/
	
/*}*/
.search-moni{
	display: flex;
}
.search-moni select{
	width: 150px;
}
.search-tools{
	border: solid 1px greenyellow;
	
}
.search-tools label{
	border: none;
	padding: 0px;
}
.btn{
	text-align: right;
	margin:10px;
}
.result{
	padding: 10px;
}
table{
	width: 100%;
	border-collapse: collapse;
	border: solid 1px black;
}
table thead{
	background-color: gold;
}
table th,td{
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

/*試し?*/
.top-flexV{
	border: solid 1px orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}
.flexV {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flexS{
	display: flex;
	margin-bottom: 10px;
}
.flexV div{
	margin-bottom: 10px;
}
#flexV{
	display: flex;
	margin-bottom: 10px;
}
.nowrap{
	white-space: nowrap;
}
#moni label{
	width: 80px;
}
#moni select{
	min-width: 120px;
}
.tools{
	border: solid 1px greenyellow;
}
.tools label{
	border: none;
	padding: 0px;
}
.tools span{
	display: inline-block;
}
.adl {
	align-items: center;
}

.adl textarea{
	min-height: 100px;
	width: 90%;
}
/*エラーメッセージ*/
#vertical{
	display: flex;
	flex-direction: column;
}
.error {
	border: none;
	color: red;
}

