/*@charset "UTF-8";*/
body{
	margin: 0px;
	padding: 0px;
}
.header{
	display: flex;
/*	margin: 10px;*/
	justify-content: space-between;
	min-width: 250px;
}
.header div{
	width:auto;
/*	padding:10px;*/
}
.header button{
	min-width: 100px;
	height: 30px;
/*	margin-top: 50px;*/
/*	background-color: aqua;*/
}
.heading{
	border: solid 1px  black;
	border-radius:10px;
	padding-left: 10px;
	padding-right: 10px;
}
label{
	border:solid 1px deepskyblue;
	min-width: 40px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
/*	margin-left: 5px;*/
}
input{
	margin-right: 10px;
}
option{
	text-align: center;
}
/*検索画面*/
.name{
	display: flex;
}
.name #userId{
	width: 30%;
}
.name label{
	width: 70px;
}
.name input{
	min-width:80px;
	width: 70%;
	margin-right: 0px;
}
.age{
	display: flex;
	justify-content: center;
/*	margin-right: 10px;*/
}
.age *{
	width: 30%;
	min-width: 40px;
}
.gender{
	display: flex;
	justify-content: end;
}
.gender *{
	width: 100%;
/*	width: 100%;*/
}
.home{
	display: flex;
	justify-content: start;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.home input{
	width: 100%;
	min-width: 200px;
	height: 45px;
}
.home select{
	min-width: 120px;
	height: 50px;
}
.home label{
	line-height: 50px;
	min-width: 70px;
}
.item{
/*	border: solid 1px black;*/
	margin-right: 10px;
}
.item input{
	width: 100px;
}
.carelevel{
	display: flex;
}
.carelevel label{
	min-width: 70px;
}
.charge{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.charge input{
	height: 50px;
	width: 100%;
	min-width:200px;
}
.charge label{
	line-height: 50px;
	min-width: 70px;
}
.moni{
	display: flex;
	
}
.moni label{
	height: 25px;
	overflow:hidden;
}
.moni select{
	width: 130px;
}
.tools{
	border: solid 1px greenyellow;
}
.tools label{
	border: none;
	padding: 0px;
}
.btn{
	text-align: right;
	margin:10px;
}
.result{
	padding: 10px;
}
table{
	width: 100%;
	border-collapse: collapse;
	border: solid 1px black;
}
table thead{
	background-color: gold;
}
table th,td{
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}
.tools{
	border: solid 1px greenyellow;
}
.tools label{
	border: none;
	padding: 0px;
}
.tools span{
	display: inline-block;
}

/*登録画面*/
.home select{
	width: 150px;
}
.home input{
	margin-right: 0px;
}
.birthday{
	display: flex;
	justify-content: center;
}
.birthday label{
	width: 80px;
}
.adl {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.adl label{
	height: 100px;
	min-width: 90px;
}
.adl textarea{
	min-height: 100px;
	width: 100%;
}
.office{
	display: flex;
}
.office label{
	height: 25px;
	width: 200px;
	overflow: hidden;
}
.office input{
	width: 100%;
}
.careMgr{
	display: flex;
}
.careMgr label{
	height: 25px;
	width: 200px;
	overflow: hidden;
}
.careMgr input{
	width: 100%;
	margin-right: 0px;
}
/*確認画面*/
span{
	border: solid 1px greenyellow;
}
.birthday span{
	width: 100px;
}
.home span{
	width: 100%;
}
.tools span{
	border: none;
}
.adl span{
	width: 100%;
	height: 100px;
}
.careMgr span{
	width: 100%;
}
/*更新画面*/
/*共通*/
.top-flexV{
	border: solid 1px orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
	padding: 10px;
	min-width: 700px;
	max-width:900px;
}
.flexV {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
/*	justify-content: center;*/
}
.flexS{
	display: flex;
	margin-bottom: 10px;
}
.flexS div{
	width: 100%;
}
.flexS .gender{
	width: 30%;
}
/*エラーメッセージ*/
/*#vertical{*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*}*/
.error {
	border: none;
	color: red;
}

