<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/add.css}">
	<title>DetailData</title>
</head>

<body>
	<header>
		<div class="header">
			<div>
				<h2><span class="heading">個人データ詳細画面</span></h2>
			</div>
			<div>
				<h2>
					<a th:href="@{/search}"><button>戻る</button></a>
					<a th:href="@{'/change/' + ${form.userId}}" th:object="${form}"><button>更新</button></a>
				</h2>
			</div>
		</div>
	</header>
	<hr>
	<div class="box">
		<form class="top-flexV" method="post" th:action="@{/register/create}" th:object="${form}">

			<div class="flexS">
				<div class="name">
					<label>氏名</label><span th:text="${form.uName}"></span>
				</div>
				<div class="userId">
					<label>個人ID</label><span th:field="${form.userId}" th:text="${form.userId}"></span>
				</div>
				<div class="birthday">
					<label>生年月日</label><span th:text="${form.birthDate}" type="text" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd">
				</div>
				<div class="age">
					<label>年齢</label><span id="age" th:text="${form.age}"></span>
				</div>
				<div class="gender">
					<label>性別</label><span th:text="${form.gender}">
					</span>
				</div>
			</div>
			<div class="home">
				<label>住所</label><span th:text="${form.houseAddress}"></span>
			</div>
			<div class="flexS">
				<div class="flexV">
					<div class="carelevel">
						<label>要介護度</label><span th:text="${form.careLevelName}"></span>
					</div>
					<div class="charge">
						<label>担当</label><span th:text="${form.chargeName}"></span>
					</div>
					<div class="moni">
						<label>モニタリング月</label><span th:text="${form.moni}"></span>
					</div>
				</div>
				<label>福祉用具検索</label>
				<div class="tools">
					<span th:text="${form.tools}"></span>
				</div>
			</div>
			<div class="adl">
				<label>ADL(日常生活動作）</label><span th:text="${form.adl}" type="text"></span>
			</div>
			<div class="flexS">				
				<div class="office">
					<label>居宅サービス事務所</label><span th:text="${form.officeName}"></span>
				</div>
				<div class="careMgr">
					<label>ケアマネ</label><span th:text="${form.careMgrName}" type="text"></span>				
			</div>
			</div>
		</form>
	</div>

</body>

</html>