<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/add.css}">
	<title>registerCheck</title>
</head>

<body>
	<header>
		<div class="header">
			<div>
				<h2><span class="heading">登録項目確認画面</span></h2>
			</div>
		</div>
	</header>
	<hr>
	<div class="top-flexV">
		<form method="post" th:action="@{/register/create}" th:object="${form}">

			<div class="flexS">
				<div class="name">
					<input hidden th:field="${form.uName}">
					<label>氏名</label><span th:text="${form.uName}"></span>
				</div>
				<div class="birthday">
					<input hidden th:field="${form.birthDate}">
					<label>生年月日</label><span th:text="${form.birthDate}" type="text" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd">
				</div>
				<div class="age">
					<label>年齢</label><span id="age" th:text="${form.age}"></span>
				</div>
				<div class="gender">
					<input hidden th:field="${form.gender}">
					<label>性別</label><span th:switch="${form.gender}">
						<span th:case=1>男</span>
						<span th:case=2>女</span>	
					</span>
					
				</div>
			</div>
				<div class="home" th:field="${regioncityList}">
					<input hidden th:field="${form.cityCode}">
					<input hidden th:field="${form.house}">
					<label>住所</label><span th:each="regioncity : ${regioncityList}" th:if="${regioncity.cityCode == form.cityCode}" th:text="${regioncity.rName + regioncity.cName + form.house}"></span>
				</div>
			<div class="flexS">
				<div class="flexV">
					<div class="carelevel">
						<input hidden th:field="${form.careLevelNo}">
						<label>要介護度</label><span th:switch="${form.careLevelNo}">
							<span th:case=1>要支援1</span>
							<span th:case=2>要支援2</span>
							<span th:case=3>要介護1</span>
							<span th:case=4>要介護2</span>
							<span th:case=5>要介護3</span>
							<span th:case=6>要介護4</span>
							<span th:case=7>要介護5</span>
						</span>
					</div>
					<div class="charge">
						<input hidden th:field="${form.chargeId}">
						<label>担当</label><span th:text="${form.cName}"></span>
					</div>
					<div class="moni">
						<input hidden th:field="${form.moni}">
						<label>モニタリング月</label><span th:text="${form.moni}"></span>
					</div>
				</div>
				<label>福祉用具検索</label>
				<div class="tools">
					<input hidden th:field="${form.toolsCode}">
					<span th:text="${form.tools}"></span>
				</div>
			</div>
			<div class="adl">
				<input hidden th:field="${form.adl}">
				<label>ADL(日常生活動作）</label><span th:text="${form.adl}" type="text"></span>
			</div>
			<div class="flexS">
				<div class="office">
					<input hidden th:field="${form.homeSerOfficeNo}">
					<label>居宅サービス事務所</label><span th:text="${form.oName}"></span>
				</div>
				<div class="careMgr">					
					<input hidden th:field="${form.careMgrId}">
					<label>ケアマネ</label><span th:text="${form.cmName}" type="text"></span>
				</div>
			</div>
			<div class="btn">
			この内容で間違いありませんか？良ければ登録ボタンを押してください。
				<a th:href="@{/register}"><button type="button">戻る</button></a>
				<button>登録</button>
			</div>
		</form>
	</div>

</body>

</html>