<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<!--<script type="text/javascript" th:src="@{/js/selectvalue.js}" th:inline="javascript"></script>-->
	<script th:inline="javascript">
		
		function setOption(doc,addValue,addText){
			var op = document.createElement("option");
			op.value = addValue;
			op.text = addText;
			doc.appendChild(op);
		}
		function setOption2(doc,addValue){
			var op = document.createElement("option");
			op.value = addValue;
			doc.appendChild(op);
		}
		
		const cityList = /*[[${cityList}]]*/
		function setCity(select_region) {
			city = document.getElementById("cityCode");
			city.options.length = 0;
			setOption(city,"","市区町村を選択")
			for (let i = 0; i < cityList.length; i++) {
				if (cityList[i].regionCode == select_region.value) {
					setOption(city,cityList[i].cityCode,cityList[i].cname);
				}
			}
		}
		
		const careMgrList = /*[[${careMgrList}]]*/
		function setCareMgr(office){
			var officeNo = office.value.substr(-7,6);
			let careMgr = document.getElementById("careMgrList");
			while(careMgr.firstChild){
				careMgr.removeChild(careMgr.firstChild);
			}
			for(let i = 0;i<careMgrList.length;i++){
				var addValue = careMgrList[i].cmName + '(' + careMgrList[i].homeSerOfficeNo+')';
				if(officeNo == careMgrList[i].homeSerOfficeNo){
					setOption2(careMgr,addValue);
				}else if(officeNo == ''){
					setOption2(careMgr,addValue);
				}
			}
		}
		window.addEventListener('DOMContentLoaded', function () {
			let select_region = document.querySelector("select[name=regionCode]");

			setCity(select_region);
			select_region.addEventListener('change', function () {
				setCity(select_region);
			});
			
			var today = new Date();
			this_year = today.getFullYear();
			var START = 2014;
			var doc = document.getElementById("moniY");
			for (i = START; i <= this_year; i++) {
				setOption(doc,i,i + "年");
			}

			let office = document.getElementById("officeNo");
			office.addEventListener('change',function(){
				setCareMgr(office);
			});
		});
		
	</script>
	<title>register</title>
</head>

<body>
	<header>
		<div class="header">
			<div>
				<h2><span class="heading">新規登録画面</span></h2>
			</div>
			<form th:action="@{/search}">
				<button>検索</button>
			</form>
		</div>
	</header>
	<hr>
	<div class="search-box">
		<form method="post" th:action="@{/register/registerCheck}" th:object="${form}">

			<div class="search">
				<div class="search-name">
					<label>氏名</label><input th:field="${form.uName}" type="text">
				</div>
				<div class="search-birthday">
					<label>生年月日</label><input th:field="${form.birthDate}" type="text" pattern="\d\d\d\d-\d\d-\d\d"
						placeholder="yyyy-mm-dd">
				</div>
				<div calss="search-gender">
					<label>性別</label><select th:field="${form.gender}">
						<option value=""></option>
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
				</div>
			</div>
			<div class="search-home">
				<label>住所</label><select name="regionCode">
					<option value="">都道府県を選択</option>
					<option th:each="region : ${regionList}" th:value="${region.regionCode}" th:text="${region.rName}">
						都道府県</option>
				</select><select th:field="${form.cityCode}">
				</select><input th:field="${form.house}" type="text" placeholder="住所" value=selectregion();>
			</div>

			<div class="search">
				<div class="search-item">
					<div class="search-carelevel">
						<label>要介護度</label><select th:field="${form.careLevelNo}">
							<option value="">介護度の選択</option>
							<option th:value="01">要支援1</option>
							<option th:value="02">要支援2</option>
							<option th:value="03">要介護1</option>
							<option th:value="04">要介護2</option>
							<option th:value="05">要介護3</option>
							<option th:value="06">要介護4</option>
							<option th:value="07">要介護5</option>
						</select>
					</div>
					<div class="search-charge">
						<label>担当</label><input th:field="${form.chargeId}" type="search" list="chargeList">
						<datalist th:field="${chargeList}" id="chargeList">
							<option th:each="charge : ${chargeList}"  th:value="${charge.cName+'('+charge.chargeId+')'}"></option>
						</datalist> 
					</div>
					<div class="search-moni">
						<label>モニタリング月</label><select th:field="${form.moniY}">
							<option value=""></option>
						</select><select th:field="${form.moniM}">
							<option value=""></option>
							<option th:value="1">1月</option>
							<option th:value="2">2月</option>
							<option th:value="3">3月</option>
							<option th:value="4">4月</option>
							<option th:value="5">5月</option>
							<option th:value="6">6月</option>
							<option th:value="7">7月</option>
							<option th:value="8">8月</option>
							<option th:value="9">9月</option>
							<option th:value="10">10月</option>
							<option th:value="11">11月</option>
							<option th:value="12">12月</option>
						</select>
					</div>
				</div>
				<label>福祉用具検索</label>
				<div class="search-tools">
					<span th:each="tool : ${toolList}">
						<label>
							[[ ${tool.wtName} ]]<input th:field="${form.tools}" th:value="${tool.wtName + '(' + tool.welfareToolNo + ')'}"
								type="checkbox" />
						</label>
					</span>
				</div>
			</div>
			<div class="adl">
				<label>ADL(日常生活動作）</label><input th:field="${form.adl}" type="text">
			</div>
			<div class="">
				<label>居宅サービス事務所</label><input th:field="${form.homeSerOffice}" type="search" id="officeNo" list="officeList">
				<datalist th:field="${officeList}" id="officeList">
					<option th:each="office : ${officeList}" th:value="${office.oName + '(' + office.homeSerOfficeNo +')'}"></option>
				</datalist>
				<label>ケアマネ</label><input th:field="${form.careMgrId}" type="search" list="careMgrList">
				<datalist th:field="${careMgrList}" id="careMgrList">
					<option th:each="careMgr : ${careMgrList}" th:value="${careMgr.cmName + '(' + careMgr.careMgrId +')'}"></option>
				</datalist>
			</div>
			<div class="btn">
				<button>確認</button>
			</div>
		</form>
	</div>

</body>

</html>