<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/css/base.css}">
<!--<script type="text/javascript" th:src="@{/js/selectvalue.js}" th:inline="javascript"></script>-->
<script th:inline="javascript">
	const cityList = /*[[${cityList}]]*/

window.addEventListener('DOMContentLoaded',function(){
	   	let	select_region = document.querySelector("select[name=regionCode]");

		setCity(select_region);
	select_region.addEventListener('change',function(){
		setCity(select_region);
	});
	
	var AGEMIN = 40;
	var AGEMAX = 120;
	var agefrom = document.getElementById("ageFrom");
	var ageto = document.getElementById("ageTo");
	for(let i = AGEMIN;i<=AGEMAX;i++){
		var op = document.createElement("option");
		op.value = i;
		op.text = i;
		var op2 = document.createElement("option");
		op2.value = i;
		op2.text = i;
		agefrom.appendChild(op);
		ageto.appendChild(op2);
	}
	
	var today = new Date();
	this_year = today.getFullYear();
	var startyear = 2014;
	for(i=startyear;i<=this_year;i++){
		var op = document.createElement("option");
		op.value = i;
		op.text = i+"年";
		document.getElementById("moniY").appendChild(op);
	}
	
});
function setCity(select_region){
	city = document.getElementById("cityCode");
	city.options.length = 0;
			var op = document.createElement("option");
			op.value = "";
			op.text = "市区町村を選択";
			city.appendChild(op);
	for(let i = 0;i < cityList.length;i++){
		if(cityList[i].regionCode == select_region.value){				
			var op = document.createElement("option");
			op.value = cityList[i].cityCode;
			op.text = cityList[i].cname;
			city.appendChild(op);
		}
	}
}

</script>
<title>earch</title>
</head>
<body>
	<header>
		<div class="header">
			<div><h2><span class="heading">検索画面</span></h2></div>
			<div><form th:action="@{/register}">
				<h2><button>新規登録</button></h2>
			</form></div>
		</div>
	</header>
	<hr>
	<div class="top-flexV">
		<form method="post" th:action="@{/search/searching}" th:object="${form}">
			
		<div class="flexS">
			<div class="name">		
				<input th:field="${form.userId}" type="text" placeholder="IDコード">
				<label>氏名</label><input th:field="${form.uName}" type="text">
			</div>
			<div class="age">
				<label>年齢</label><select th:field="${form.ageFrom}">
					<option value=""></option>
				</select>
				~
				<select th:field="${form.ageTo}">
					<option value=""></option>
				</select>
			</div>
			<div class="gender">
				<label>性別</label><select th:field="${form.gender}">
					<option value=""></option>
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
			</div>
		</div>
		<div class="flexS">
			<div class="home">
				<label>住所</label><select th:field="${form.regionCode}">
					<option value="">都道府県を選択</option>
					<option th:each="region : ${regionList}" th:value="${region.regionCode}" th:text="${region.rName}">都道府県</option>
				</select><select th:field="${form.cityCode}">
				</select><input th:field="${form.house}" type="text" placeholder="住所" value=selectregion();>
			</div>
		</div>
		<div class="flexS">
			<div class="flexV">
				<div class="carelevel">
					<label>要介護度</label><select th:field="${form.careLevelFrom}">
						<option value="">介護度の選択</option>
						<option th:value="01">要支援1</option>
						<option th:value="02">要支援2</option>
						<option th:value="03">要介護1</option>
						<option th:value="04">要介護2</option>
					</select>
					　~　
					<select th:field="${form.careLevelTo}">
						<option value="">介護度の選択</option>					
						<option th:value="05">要介護3</option>
						<option th:value="06">要介護4</option>
						<option th:value="07">要介護5</option>

					</select>
				</div>
				<div class="charge">
					<label>担当</label><input th:field="${form.cName}" type="text">
				</div>
				<div class="moni">
					<label>モニタリング月</label><select th:field="${form.moniY}">
						<option value=""></option>
					</select><select th:field="${form.moniM}">
						<option value=""></option>
						<option th:value="1">1月</option>
						<option th:value="2">2月</option>
						<option th:value="3">3月</option>
						<option th:value="4">4月</option>
						<option th:value="5">5月</option>
						<option th:value="6">6月</option>
						<option th:value="7">7月</option>
						<option th:value="8">8月</option>
						<option th:value="9">9月</option>
						<option th:value="10">10月</option>
						<option th:value="11">11月</option>
						<option th:value="12">12月</option>
					</select>
				</div>
			</div>
			<label>福祉用具検索</label>
			<div class="tools">
				<span  th:each="tool : ${toolList}">
					<label>				
						[[ ${tool.wtName} ]]<input  th:field="${form.tools}" th:value="${tool.wtName}" type="checkbox"/>
					</label>
				</span>
			</div>
		</div>
		<div class="btn">
		<button>検索</button>			
		</div>			
		</form>
	</div>
	
	<div class="result" th:if="${resultList != null }">
		<h5>検索結果</h5>
		<table>
			<thead>
				<tr>
					<th>氏名</th>
					<th>年齢</th>
					<th>介護度</th>
					<th>住所</th>
					<th>福祉用具</th>
					<th>担当</th>
					<th>モニ月</th>
				</tr>
			</thead>
			<tbody>
				<span th:each="result : ${resultList}">
					<tr>	
						<td>
							<a th:href="@{'/detailData/' + ${result.userId}}">[[ ${result.uName} ]]</a>
						</td>							
						<td th:text="${result.age}">40</td>
						<td th:text="${result.clName}">要介護1</td>
						<td th:text="${result.houseaddress}">大阪市</td>
						<td th:text="${result.wtName}">歩行補助杖</td>
						<td th:text="${result.cName}">松下　花子</td>
						<td th:text="${result.moniMonths}">2017/12</td>
					</tr>
				</span>
			</tbody>
		</table>
	</div>
</body>
</html>